body {
  font-size: 14px;
  counter-reset: inst;
}

caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


/* question */


.question {
  padding: 1em 1em 0.5em 5em;
  background: #f0ffe6;
  position: relative;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 24px;
}

.question:before {
  content: "Übungshäppchen";
  clear: right;
  display: block;
  font-weight: bold;
 }
 
.question:after {
  content: "\f059";
  font-family: FontAwesome;
  left:10px;
  position:absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 45px;
 }

.comment {
  padding: 1em 1em 0.5em 5em;
  background: #f5f5f5;
  position:relative;
  border-radius: 10px;
  margin-bottom: 24px;
}

.comment:before {
    content: "\f075";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 45px;
 }
 
.info {
  padding: 1em 1em 0.5em 5em;
  background: #e6f0ff;
  position:relative;
  border-radius: 10px;
  margin-bottom: 24px;
}

.info:before {
    content: "\f05a";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 45px;
 }

.alert {
  padding: 1em 1em 0.5em 5em;
  background: #ffe6f0;
  position:relative;
  border-radius: 10px;
  margin-bottom: 24px;
}

.alert:before {
    content: "\f06a";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 45px;
 }
 

 
.example {
  padding: 1em 1em 0.5em 5em;
  background: #f0ffe6;
  position:relative;
  border-radius: 10px;
  margin-bottom: 24px;
}

.example:before {
    content: "\f055";
    font-family: FontAwesome;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 45px;
 }
 
 .outcomes {
  padding: 1em 1em 0.5em 5em;
  background: #ffebcd;
  position:relative;
  border-radius: 10px;
  margin-bottom: 24px;
}

.outcomes:before {
    content: "\f05b";
    font-family: FontAwesome;
    font-weight: 900;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 45px;
 }
 
.def {
  padding: 1em 1em 0.5em 5em;
  background: #ffe1b4;
  position:relative;
  border-radius: 10px;
  margin-bottom: 24px;
}

.def:before {
    content: "\f13d";
    font-family: FontAwesome;
    font-weight: 900;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 45px;
 }
 
.exercises {
  clear: both;
  list-style: none;
}

.exercises ol {
    margin-left:-10px; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
.exercises ol > li {
    position:relative; /* Create a positioning context */
    margin:0 0 10px 0; /* Give each list item a left margin to make room for the numbers */
    padding:30px 10px 0 20px; /* Add some spacing around the content: top, right, bottom, left */
    list-style:none; /* Disable the normal item numbering */
    border-top:2px solid #c9743d;
    background:#f8ede6;
    border-radius: 10px;
}

.exercises ol > li::before {
  content: "Aufgabe " counter(inst);  /* Use the counter as content */
  
  counter-increment: inst 1; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-1em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:7em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:4px;
    padding:1px;
    border-top:2px solid #c9743d;
    color:#fff;
    background:#c9743d;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
}
 
